<div class="row">
  <div class="col-sm-4 "></div>
  <div class="col-sm-8 ">
    <h1>Edycja konta</h1>

    <%= form_for(resource, :as => resource_name, 
    :url => registration_path(resource_name), 
    :html => { :method => :put, role: "form" }) do |f| %>
  
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, "E-mail" %>
        <div class="row">
          <div class="col-sm-6">      
            <%= f.email_field :email, :autofocus => true, class: "form-control" %>  
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="row">
        <div class="col-sm-6">     
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        </div>
      </div>
      <% end %>

      <div class="form-group">
            <%= f.label :password, "Hasło" %> <i><small>(pozostaw puste jeśli nie chcesz zmieniać)</small></i>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
            <%= f.label :password_confirmation, "Potwierdzenie hasła" %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
            <%= f.label :current_password, "Obecne hasło" %> <i><small>(musisz podać obecne hasło aby potwierdzić zmiany)</small></i>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :current_password, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <%= f.submit "Aktualizuj", class: "btn btn-success" %> - <%= link_to "Anuluj", inside_path %>
        </div>
      </div>    
 
      <% end %>
    </div>
  </div>