<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">
<table class="table">
  <thead>
    <tr>
      <th >id</th>
      <th >time</th>
      <th >option</th>
      <th >poll id</th>
      <th >poll</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.id %></td>
        <td><%= answer.created_at %></td>
        <td><%= answer.option %></td>
        <td><%= answer.poll_id %></td>
        <td><%= if answer.poll then answer.poll.name end %></td>
        <td><%= answer.counter %></td>
        <td><%= link_to 'Usuń', answer, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-md-2"></div>
</div>