<% title("Strona główna") %>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h3><i class="fa fa-home"></i> Strona główna </h3>
    <div class="well">
      <p><b>Najnowsza ankieta:</b></p>
      <% if @survey -%>
        <p><%= link_to "#{@survey.name.slice(0,40)}...", @survey %><br>
        <%= dateformat(@survey.created_at) %></p>
      <% else %>
        <p>Brak publicznych ankiet.</p>
      <% end %>
      <%= link_to 'Nowa ankieta', new_survey_path, :class => 'btn btn-success' %>
      <%= link_to 'Pokaż wszystkie', surveys_path, :class => 'btn btn-primary' %>
      <hr>
      <p><b>Najnowsza sonda:</b></p>
      <% if @poll %>
        <p><%= link_to "#{@poll.name.slice(0,40)}...", @poll %><br>
        <%= dateformat(@poll.created_at) %></p>
      <% else %>
        <p>Brak publicznych sond.</p>
      <% end %>
      <%= link_to 'Nowa sonda', new_poll_path, :class => 'btn btn-success' %>
      <%= link_to 'Pokaż wszystkie', polls_path, :class => 'btn btn-primary' %>
    </div>  
  </div>

  <div class="col-md-4">
    <% if !user_signed_in? %>
    <h3><i class="fa fa-user"></i> Logowanie</h3>
    <div class="well">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
        role: "form") do |f| %>
      <div class="form-group">
        <%= f.label :username, "Użytkownik" %>
        <%= f.text_field :username, :autofocus => true, class: "form-control" %>  
      </div>
      <div class="form-group">
        <%= f.label :password, "Hasło" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
      <%= f.check_box :remember_me %> <%= f.label :remember_me, "Zapamiętaj mnie" %>
      </div>
      <% end -%>
      <%= f.submit "Zaloguj", class: "btn btn-success" %> <%= link_to "Zarejestruj", new_registration_path(resource_name) %>
      <% end %>
    </div>
    <% else %>
      <h3><i class="fa fa-user"></i> <%= current_user.username %></h3>
      <div class="well">
        <p><%= link_to '<i class="fa fa-edit fa-lg"></i> Edytuj konto'.html_safe, edit_user_registration_path %></p>
        <p><%= link_to '<i class="fa fa-close fa-lg"></i> Wyloguj'.html_safe, destroy_user_session_path, data:{method: :delete} %></p>
      </div>
    <% end %>
    Konto testowe: user1 - 1234<br>
    Do poprawnego wyświetlania wykresów zalecana aktualna przeglądarka. <br>
    Kod źródłowy <%= link_to 'tutaj.', "https://github.com/zmateusz/mzankiety" %>
  </div>

</div>