<div class="row">

  <div class="col-md-10 col-md-offset-1">
    <h2>Panel użytkownika
    <small><u><%= link_to 'Nowa ankieta', new_survey_path, class:"text-success" %></u> |
    <u><%= link_to 'Nowa sonda', new_poll_path, class:"text-success" %></u></small></h2>

    <div class="well">
      <strong>Ankiety (<%= @surveys.count %>)</strong>

<% if @surveys.empty? %>
  <br>Brak utworzonych ankiet.
<% else %>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-3">Nazwa</th>
      <th class="col-md-1">Data</th>
      <th class="col-md-1">Wypełnienia</th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.name, detail_survey_path(survey) %></td>
        <td><%= dateformat(survey.created_at) %></td>
        <td><%= survey.votes.pluck(:voter).uniq.count %></td>
        <td><%= link_to 'Usuń', survey, method: :delete, data: { confirm: 'Na pewno?' }, class:"btn btn-danger" %></td>
        <td><%= link_to 'Pokaż', survey, method: 'get', class:"btn btn-info" %></td>
        <td><%= link_to 'Wyniki', result_survey_path(survey), method: 'get', class:"btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>      

    </div>
    <div class="well">
      <strong>Sondy (<%= @polls.count %>)</strong>

<% if @polls.empty? %>
  <br>Brak utworzonych sond.
<% else %>      
<table class="table">
  <thead>
    <tr>
      <th class="col-md-3">Nazwa</th>
      <th class="col-md-1">Data</th>
      <th class="col-md-1">Głosy</th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= link_to poll.name, detail_poll_path(poll) %></td>
        <td><%= dateformat(poll.created_at) %></td>
        <td><%= Vote.where(poll_id: poll.id).count %></td>
        <td><%= link_to 'Usuń', poll, method: :delete, data: { confirm: 'Na pewno?' }, class:"btn btn-danger" %></td>
        <td><%= button_to 'Pokaż', poll, method: 'get', class:"btn btn-info" %></td>
        <td><%= button_to 'Wyniki', result_poll_path(poll), method: 'get', class:"btn btn-success"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

    </div>
  </div>

</div>

