<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group"> 
  <div class="field" style="width:80%">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control"%>
  </div>
  <div class="field" style="width:80%">
    <%= f.label :descr %><br>
    <%= f.text_area :descr , class: "form-control"%>
  </div>
  <div class="field" style="width:30%">
    <%= f.label :descr %><br>
    <select multiple class="form-control" name="poll[typ]" id="poll_typ">
    <option value="Radio">Radio</option>
    <option value="Checkbox">Checkbox</option>
    <option value="Text">Text</option>
    </select>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "Wyslij", class: "btn btn-primary"%>
  </div>
 
      
<% end %>
