<% title("Sondy") %>

<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">
<h2>Sondy <small><u><%= link_to 'Nowa sonda', new_poll_path, class:"text-success" %></u></small></h2>

<% if @polls.empty? %>
  <p>Brak sond.</p>
<% else %>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-4">Nazwa</th>
      <th class="col-md-2">Data utworzenia</th>
      <th class="col-md-1">Typ</th>
      <th class="col-md-1">Autor</th>
    </tr>
  </thead>
  
  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= link_to poll.name, poll %></td>
        <td><%= dateformat(poll.created_at) %></td>
        <td><%= typeinfo(poll.typ) %></td>
        <td><%= poll.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%# paginate @polls %>
</div>
</div>