<%= javascript_include_tag "http://www.google.com/jsapi" %>
<%= javascript_include_tag "application", "chartkick" %>
<div class="row">

  <div class="col-md-8 col-md-offset-2">
    <h4><%=raw @poll.survey.nil? ? "Wyniki dla sondy" : "Wyniki dla pytania 
    | <u>#{link_to 'Powrót do wyników ankiety', result_survey_path(@poll.survey), class:"text-success"}</u>" %></h4>
    <h4><%= @poll.name %></h4>
    <%= render "layouts/#{@poll.typ.downcase}" %>
  </div>

</div>