<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @poll.name %><br>
	<strong>Typ:</strong>
	<%= @poll.typ %><br>
	<strong>Author:</strong>
	<%= @poll.author %><br>
	<strong>Date:</strong>
	<%= @poll.created_at %><br>
		<strong>Descr:</strong>
	<%= @poll.descr %><br>
</p>

<p><h3>Answers</h3>
<ul>
<% @poll.answers.each do |answer| %>
	<li>
		<%= answer.option %>
		<%= answer.counter %>
	</li>
<% end %>
</ul></p>

<h3>Add an answer:</h3>
<%= form_for([@poll, @poll.answers.build]) do |f| %>
	<p>
		<%= f.label :opcja %><br>
		<%= f.text_field :option, :value => Faker::Name.first_name  %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
