<h3>Voting</h3>

<p><%= @poll.name %><br>
  <%= @poll.descr %>


<%= form_for :vote do |f| %>
<p>
<% @poll.answers.each do |answer| %>
  <%= radio_button_tag(:vote, answer.id) %>
  <%= label_tag(answer.option, answer.option) %>
  <br>
<% end %>
</p>
  <p>
    <%= f.submit "Głosuj" %>
  </p>
<% end %>