<div class="row">
<div class="col-md-1"></div>

<div class="col-md-7">
<p id="notice"></p>
<p>
  <h3>Ankieta: <%= @survey.name %></h3>
  <strong>Data utworzenia:</strong> <%= dateformat(@survey.created_at) %> |
  <%= link_to 'Edytuj', edit_survey_path(@survey) %> |
  <%= link_to 'Powrót', surveys_path %>
</p>

<p>
  <strong>Opis:</strong> <%= raw @survey.descr %>
</p>
<hr>
<% if @survey.polls.empty? -%>
  <p class="text-danger"><b>Brak pytań. Dodaj jedno poniżej:</b></p>
<% else %>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-md-3"><h4>Pytania</h4></th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>
  <tbody><% i=1 %>
    <% @survey.polls.each do |poll| %>
      <tr>
        <td><%= "#{i}." %><% i+=1 %> <%= link_to poll.name, detail_poll_path(poll), class: "text-info"%></td>
        <td><%= typeinfo(poll.typ) %> <%# "(brak odpowiedzi!)" if poll.typ == "Radio" && poll.answers.empty? %></td>
        <td><%= link_to "Edytuj", edit_poll_path(poll), class: "text-primary" %></td>
        <td><%= link_to 'Usuń', poll, method: :delete, data: { confirm: 'Na pewno?' }, class:"text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>

<h4>Dodaj pytanie:</h4>
<%= form_for([@survey, @survey.polls.build]) do |f| %>
  <div class="form-group"> 
  <div class="field" style="width:80%">
    <%= f.label :name, "Nazwa" %><br>
    <%= f.text_field :name , class: "form-control", :value => Faker::Company.catch_phrase %>
  </div>
  <div class="field" style="width:80%">
    <%= f.label :descr, "Opis" %><br>
    <%= f.text_area :descr , class: "form-control", :value => Faker::Lorem.sentence%>
  </div>
  <div class="field" style="width:40%">
    <%= f.label 'Typ' %><br>
    <select multiple class="form-control" name="poll[typ]" id="poll_typ">
    <option value="Radio" selected="selected">Wybór jednokrotny</option>
    <option value="Checkbox">Wybór wielokrotny</option>
    <option value="Text">Dowolny tekst</option>
    <option value="Info">Puste pytanie</option>
    </select>
  </div>
  <%= hidden_field_tag(:survey_id, @survey.id) %>
  </div>
  <div class="actions">
    <%= f.submit "Dodaj pytanie", class: "btn btn-success"%>
  </div>
<% end %>

</div>

<div class="col-md-4">
  <h3>Ustawienia</h3>

  <b>Data zakończenia:</b><br>
  <% if @survey.ends_at.nil? %>
    nie ustawiono
    <%= form_for @survey, url: {action: "enddate"} do |f| %>
    <%= f.date_select :created_at, :start_year => @survey.created_at.year %><br> 
    <%= f.time_select :created_at, :ignore_date => true %>
    <%= f.submit "Ustaw datę" %>
    <% end %>
  <% else %>
    <%= dateformat(@survey.ends_at) %>
    (<%= distance_of_time_in_words(@survey.ends_at, Time.now) %>)
    <%= form_for @survey, url: {action: "enddate"} do |f| %>
    <%= f.date_select :ends_at, :start_year => @survey.created_at.year%><br> 
    <%= f.time_select :ends_at, :ignore_date => true %>
    <%= f.submit "Ustaw datę" %>
    <% end %>
  <% end %>


<br><b>Status:</b> <%= raw status_survey(@survey) %>
</div>

</div>