<h2>Ankiety</h2>

<p><%= link_to 'Nowa ankieta', new_survey_path, class:"btn btn-success" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.descr %></td>
        <td><%= survey.author %></td>
        <td><%= link_to 'Pokaż', survey %></td>
        <td><%= link_to 'Edytuj', edit_survey_path(survey) %></td>
        <td><%= link_to 'Usuń', survey, method: :delete, data: { confirm: 'Na pewno?' } %></td>
        <td><%= link_to 'Wypełnij', vote_poll_path(survey.polls.first), method: 'get', class:"btn btn-success" if survey.polls.present?%></td>
      </tr>
    <% end %>
  </tbody>
</table>