<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">
<p id="notice"></p>

<div class="well">
<h3>Ankieta: <%= @survey.name %></h3>
<hr>
<p>
  <strong>Opis:</strong> <%= raw @survey.descr %>
</p>
<dl class="dl-horizontal">
  <dt>Autor:</dt>
  <dd><%= @survey.author %></dd>
  <dt>Data utworzenia:</dt>
  <dd><%= dateformat(@survey.created_at) %></dd>
  <dt>Data zakończenia:</dt>
  <dd><%= @survey.ends_at ? dateformat(@survey.ends_at) : "brak" %></dd>
</dl>

<p class="text-center">
<%= link_to 'Wypełnij', vote_poll_path(@survey.polls.first), method: 'get', class:"btn btn-success" if @survey.polls.present?%>
</p>
<hr>
<p class="text-center"><%= link_to 'Powrót', surveys_path %> | <%= link_to "Pokaż szczegóły", detail_survey_path(@survey) %></p>
</div>

</div>

<div class="col-md-2"></div>
</div>