<table class="table" style="width:500px">
  <thead>
    <tr>
      <th class="col-md-2">author</th>
      <th class="col-md-1">time</th>
      <th class="col-md-2">answer id</th>
      <th class="col-md-2">poll id</th>
      <th class="col-md-1">answer</th>
      <th class="col-md-1">poll</th>
      <th class="col-md-1">custom</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.author %></td>
        <td><%= vote.created_at %></td>
        <td><%= vote.answer_id %></td>
        <td><%= vote.poll_id %></td>
        <td><%= if vote.answer then vote.answer.option end%></td>
        <!-- <td><%= if vote.answer then vote.answer.poll.name end %></td> -->
        <td><%= @poll = Poll.find(vote.poll_id); @poll.name %></td>
        <td><%= vote.custom %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, :remote=>true, :class=>'delete_item', data: { confirm: 'Are you sure?' }%>
          <a href class="delete_item2" id="<%= vote.id %>" data-remote="true">ajax</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
      $(".delete_item2").click(function(){
        item = $(this).attr("id");
        $.ajax({
          type: 'DELETE',
          url: '/votes/'+item,
        });
      });
    });
    $(document).on('ajax:success', '.delete_item2', function() {
      $(this).closest('tr').slideUp();
    }
);
</script>
