<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">

<table class="table">
  <thead>
    <tr>
      <th>voter</th>
      <th>author</th>
      <th>time</th>
      <th>answer id</th>
      <th>poll id</th>
      <th>answer</th>
      <th>poll</th>
      <th>custom</th>
      <th>counter</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.voter %></td>
        <td><%= vote.author %></td>
        <td><%= vote.created_at %></td>
        <td><%= vote.answer_id %></td>
        <td><%= vote.poll_id %></td>
        <td><%= if vote.answer then vote.answer.option end%></td>
        <!-- <td><%= if vote.answer then vote.answer.poll.name end %></td> -->
        <td><%= @poll = Poll.find(vote.poll_id); @poll.name %></td>
        <td><%= vote.custom %></td>
        <td><%= vote.answer.counter if vote.answer %></td>
        <td><%= link_to 'Usuń', vote, method: :delete, :class=>'delete_item', data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-md-2"></div>
</div>

<script>
    $(document).ready(function(){
      $(".delete_item2").click(function(){
        item = $(this).attr("id");
        $.ajax({
          type: 'DELETE',
          url: '/votes/'+item,
        });
      });
    });
    $(document).on('ajax:success', '.delete_item2', function() {
      $(this).closest('tr').slideUp();
    }
);
</script>
