<div role="tabpanel">
  <!-- Nav tabs nav-stacked, nav-pills or nav-tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Statystyki</a></li>
    <li role="presentation"><a href="#charts" aria-controls="charts" role="tab" data-toggle="tab">Wykresy</a></li>
    <li role="presentation"><a href="#votes" aria-controls="votes" role="tab" data-toggle="tab">Głosy</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="stats">
      <br><p><b>Wszystkich głosów: <%= @count %></b></p>
      <p>
        <% @votes_hash.sort_by{|k, v| v}.reverse.each do |k,v| %>
        <%= "#{k}: #{v}" %>
        <% @p = (v.to_f/@count*100).round(1) %>(<%= @p %>%)
        <div class="progress" style="width:80%">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= @p %>%;">
        </div>
        </div>
        <% end %>
      </p>

      <table class="table table-hover table-bordered" style="width:80%">
        <thead>
          <tr>
            <th class="col-md-4">Odpowiedź</th>
            <th class="col-md-1">Głosy</th>
            <th class="col-md-1">Procenty</th>
          </tr>
        </thead>
        <tbody>
       <% @votes_hash.each do |k,v| %>
       <tr>
        <td><%= k %></td>
        <td><%= v %></td>
        <td><% @p = (v.to_f/@count*100).round(1) %><%= @p %>%</td>
      <tr>
       <% end %>
       </tbody>
      </table>       

      <hr><b>Statystyki odpowiedzi:</b><br><br>
      <% @answers.order(counter: :desc).each do |answer| %>
      <%= answer.option %>: <%= answer.counter %>
      <% @p = (answer.counter.to_f/@count*100).round(1) %>(<%= @p %>%)
      <div class="progress" style="width:80%">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= @p %>%;">
      </div>
      </div>
      <% end %>

      <table class="table table-hover table-bordered" style="width:60%">
        <thead>
          <tr>
            <th class="col-md-2">Odpowiedź</th>
            <th class="col-md-1">Głosy</th>
            <th class="col-md-1">Procenty</th>
          </tr>
        </thead>
        <tbody>
       <% @answers.order(created_at: :asc).each do |answer| %>
       <tr>
        <td><%= answer.option %></td>
        <td><%= answer.counter %></td>
        <td><% @p = (answer.counter.to_f/@count*100).round(1) %><%= @p %>%</td>
      <tr>
       <% end %>
       </tbody>
      </table> 

    </div>

    <div role="tabpanel" class="tab-pane" id="charts">
      <br><b>Głosy:</b>
      <%= pie_chart @votes_hash %>
      <%= bar_chart @votes_hash %>
      <b>Pojedyncze odpowiedzi:</b>
      <%= pie_chart @answers.group(:option).sum(:counter) %>

    </div>

    <div role="tabpanel" class="tab-pane" id="votes">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Odpowiedź</th>
            <th>Użytkownik</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @votes.each do |vote| %>
            <tr>
              <td><%= vote.custom %></td>
              <td><%= vote.author %></td>
              <td><%= dateformat(vote.created_at) %></td>
              <td><%= link_to 'Usuń', vote, method: :delete, data: { confirm: 'Na pewno?' }%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>