<div role="tabpanel">
  <!-- Nav tabs nav-stacked, nav-pills or nav-tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Statystyki</a></li>
    <li role="presentation"><a href="#charts" aria-controls="charts" role="tab" data-toggle="tab">Wykresy</a></li>
    <li role="presentation" class="active"><a href="#votes" aria-controls="votes" role="tab" data-toggle="tab">Głosy (<%= @count %>)</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="stats">
      <br><p><b>Wszystkich głosów: <%= @count %></b></p>
    </div>

    <div role="tabpanel" class="tab-pane" id="charts">

    </div>

    <div role="tabpanel" class="tab-pane active" id="votes">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Użytkownik</th>
            <th>Data</th>
            <th>Odpowiedź</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @votes.each do |vote| %>
            <tr>
              <td><%= vote.author %></td>
              <td><%= dateformat(vote.created_at) %></td>
              <td><%= vote.custom %></td>
              <td><%= link_to 'Usuń', vote, method: :delete, data: { confirm: 'Na pewno?' }%>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>